.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showCards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.header {
    font-size: 48px;
    text-align: center;
    margin: 30px auto;
}