.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showCards {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px;
}

.header {
    font-size: 48px;
    text-align: center;
    margin: 30px auto;
}

/* Responsive CSS */
@media (max-width: 1200px) {
    .showCards {
        grid-template-columns: auto auto auto;
    }
}

@media (max-width: 768px) {
    .showCards {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 576px) {
    .showCards {
        grid-template-columns: auto;
    }
}